# Start all services for the WeatherTracker application 

version: "3.9"

services:
  backend:
    build:
      context: ./wt-services/app
      dockerfile: Dockerfile
    container_name: backend
   # command: gunicorn wtapp.wsgi:application --bind 0.0.0.0:8000 --workers=3
    env_file:
      - ./wt-services/app/.env
    ports:
      - "8000:8000"
    depends_on:
      - migrate
    restart: unless-stopped

  migrate:
    build:
      context: ./wt-services/app
      dockerfile: Dockerfile
    container_name: backend_migrations
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput || true"
    env_file:
      - ./wt-services/app/.env
    restart: "no"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped